body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-5px) scale(2);
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 5px;
}

header{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

section{
    padding: 2rem;
    font-size: 2rem;
    background-color: #333;
    color: white;
}